//components display
li{
  list-style-type: none;
}
#home, #search{
   display: none;
}

body{
  background-image: url("./assets/mountain.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top center;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
}

.addfav{
  background-image: url("./assets/like.svg");
  background-size:  100% 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}

.wrapper{
  width: 400px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.address{
  font-size: 42px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 50px;
  color: #82f1df;
}
.date{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 200;
}
.temp-weather{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.weather-container div{
  background-size:  100% 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.weather-container, .temp-container{
  width: 40%;
}
.temp{
  margin-top: 0;
  font-size: 90px;
  text-align: center;
  font-weight: 300;
  position: relative;
  display: inline-block;
}
.temp::before{
  font-size: 30px;
  font-weight: 400;
  content: "°C";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -40px;
}
.weather{
  font-size: 15px;
  font-weight: 500;
  position: relative;
  color: #82f1df;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 2px;
}

/***GESTION DES METEOS***/

#weather-img{
  height: 150px;
  width: 150px;
}

//orage
.legerepluieeparseavectonnerreparendroit{
  background-image: url("./assets/storm.svg");
}
//nuages
.couvert{
  background-image: url("./assets/cloud.svg");
}
.partiellementnuageux{
  background-image: url("./assets/pnuageux.svg");
}
.brume{  background-image: url("./assets/fog.svg");
}
//pluie
.aversedepluiemoderee, .pluiemodereeparmoments,.pluieeparseaproximite, .bruinelegere{
  background-image: url("./assets/rain.svg");
}
.pluieforteparmoments, .pluiemoderee{
  background-image: url("./assets/heavyrain.svg");
}

//soleil
.clair, .ensoleille{
  background-image: url("./assets/sun.svg");
  height: 100px;
  width: 100px;
}


/****/
.wind-humi{
  display: flex;
  margin-top: 80px;
}
.wind-humi div{
  width: 50%;
}
.wind, .humidity{
  position: relative;
}
.wind:before, .humidity:before{
  background-image: url("./assets/wind.svg");
  background-size:  100% 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  content: "";
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.humidity:before{
  background-image: url("./assets/humidity.svg");
}

/***list***/

.forecast-list{
  display: flex;
  justify-content: center;
}
.date-fc{
  text-transform: uppercase;
}
.forecast-img{
  width: 50px;
  height: 50px;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.minmax-fc{
  font-size: 11px;
}
/***nav***/
nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
nav li{
  height: 13px;
  width: 13px;
  display: inline-block;
  background: #fff;
  border-radius: 50px;
}
nav li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}